.dropdown {
    flex-direction: column;
    position: relative;

    &-button {
        box-sizing: content-box;
        background-color: transparent;
        text-align: left;
        align-items: center;

        &-label {
            flex: 1;
        }

        &-icon {
            align-items: center;

            img {
                width: 15px;
                height: 15px;
            }
        }
    }

    &-content {
        margin-top: 2px;
        max-height: 30vh;
        overflow-y: auto;
        position: absolute;
        animation-name: openOptions;
        animation-duration: 200ms;
        animation-iteration-count: initial;
        top: 40px;
        width: 100%;
        box-shadow: 1px 1px 5px grey;
        border: 1px solid grey;

        .checked {
            background-color: black;
            color: white;
        }

        &-option {
            display: block;
            padding: 10px;
            width: 100%;
            text-align: left;
        }

        &-option:hover {
            background-color: grey;
            color: white;
        }

    }

    @keyframes openOptions {
        0% {
            opacity: 0;
            height: 0;
        }

        100% {
            opacity: 1;
        }
    }

}