.product-list-container {
    min-height: 100vh;
    padding-top: 120px;

    .title {
        font-size: 32px;
        font-weight: 300;
        margin-bottom: 32px;
    }

    .list-item {
        margin-bottom: 20px;
    }

    
}

.pagination-container {
    margin-bottom: 100px;
}