.toast {
    position: fixed;
    top: 50px;
    right: 10px;
    background: orange;
    color: black;
    padding: 15px 30px;
    animation-name: toastOpen;
    animation-duration: 300ms;
    animation-iteration-count: initial;
    border-radius: 5px;
    z-index: 999;
}

@keyframes toastOpen {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}