.wish-list-container {
    min-height: 100vh;
    padding-top: 120px;

    .title {
        font-size: 32px;
        font-weight: 300;
        margin-bottom: 32px;
    }

    .list-item {
        margin-bottom: 20px;
        width: 660px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            transform: scale(1.01);
        }
    }

    .empty-msg {
        margin-top: 150px;
        img {
            height: 76px;
            margin-bottom: 20px;
        }

        h2 {
            font-weight: 300;
            font-size: 28px;
        }
    }
}