.radio-btn{
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid grey;
    cursor: pointer;
    margin-right: 2px;
    font-size: 15px;
    border-radius: 5px;
}

.active{
    color:white;
    background-color: black;
}