.select-address {
    margin: auto;
    margin-top: 100px;
    width: 20%;

    &-title {
        margin-bottom: 20px;
    }

    &-action-add {
        background-color: transparent;
        padding: 10px;

        .plus-icon {
            width: 16px;
            height: 16px;
            border: 2px solid black;
            align-items: center;
            border-radius: 50%;
            justify-content: center;
            margin-right: 10px;
            font-weight: bolder;
        }
    }

    &-action-proceed {
        background-color: black;
        color: white;
        padding: 15px 80px;
        border-radius: 10px;
        margin-top: 10px;
    }

    margin-bottom: 20px;
}