.add-address {
    margin: auto;
    width: 70%;
    margin-bottom: 20px;

    &-title {
        margin-bottom: 20px;
    }

    &-form {

        &-section-left,
        &-section-right {
            padding: 20px 30px;
            flex: 1;
        }

        &-section-left {
            padding-left: 0;
        }
    }

    &-action {
        background-color: black;
        color: white;
        padding: 15px 80px;
        border-radius: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .add-address{
        margin-top: 150px;
    }

    .add-address-form{
        flex-direction: column;
    }

    .add-address-form-section-right{
        padding-left: 0;
    }
    .add-address-action{
        padding: 15px 60px;
    }
}

@media only screen and (min-width: 768px) {
    .add-address{
        margin-top: 100px;
    }
    .add-address-form{
        flex-direction: row;
    }
}